.show {

}

.card-body .show {
    
}

.logo {
    width: 25%;
}

span.atribute {
    font-weight: bold;
}

.profile {
    
}

body {
    background-image: url('https://www.globotreks.com/wp-content/uploads/2019/12/Mos-Espa_.jpg');
    background-size: cover;
}